<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yzc.springcloud.dao.SystemCodeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yzc.springcloud.entity.SystemCode">
        <result column="id" property="id" />
        <result column="key_name" property="keyName" />
        <result column="system_key" property="systemKey" />
        <result column="system_value" property="systemValue" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        key_name, system_key, system_value
    </sql>

</mapper>
